@import "src/variables";

.sidebar {
  grid-area: Sidebar;
  .button-container {
    min-width: 200px;
    max-width: 200px;
    margin: 2rem 5rem;
    button:first-child {
      border-top: none;
    }
    button {
      text-transform: lowercase;
      text-align: left;
      appearance: none;
      text-decoration: none;
      cursor: pointer;
      border: none;
      height: 3rem;
      min-width: 100%;
      color: $primary;
      border-top: 1px solid $primary;
      padding: 0.5rem 1rem 0.5rem 1rem;
      line-height: 1rem;
      font-size: small;

      &.is-active {
        background-color: $primary;
        color: white;

        &:hover {
          background-color: lighten($primary, 10%);

        }
      }
      &:hover {
        background-color: lighten($primary, 50%);

      }
    }
  }
}
