* {
  box-sizing: border-box;
}

body {
  background-image: url("/assets/background.png");
  background-position-y: -300px;
  background-repeat: repeat-x;
  background-color: rgb(251, 252, 250);
  font-family: "Roboto Light", sans-serif;
}

.float-right {
  float: right;
}
